**
 * Place your custom styles here.
 */
@import url("../font/font-awesome/css/font-awesome.min.css");
@import url("../font/segoeui/segoeui.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

div #logomarca img {
    width: 70%;
    margin-top: -1%;
}

body {
  margin-top: 0px !important;
  font-size: 13px !important;
  font-family: "segoeui", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

}

body a{
  color:hsla(208,63%,44%,1.0);
}

body a:hover{
  color:hsla(208,63%,24%,1.0);
}

header {
  background: url(../image/header-bg-4.png) repeat-x;
}

#bar-header{
   height: 105px;
}

#logomarca {
  margin-top: 20px;
}
#body-header{
  margin-top: 9px;
}
#body-header #search-block-form {
  width: 250px;
  float: right;
}

header div.topo-logo {
  height: 90px;
  /*margin-top: 15px;*/
}

header div.topo-logo .logo {
  height: 80px;
}

header .logo_governo,
footer .logo_governo{
  padding: 12px 0;
  width: 190px;
}

footer div.row div:first-child{
  text-align: left;
}

header .menu-navegacao{
  background: white;
}


header .menu-navegacao{
  box-shadow: 0px 7px 12px #555;
   z-index: 100;
}

header .menu-navegacao.affix{
   box-shadow: 0px 7px 12px #555;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  top:0;
  width: 100%;
}

body.toolbar-fixed.toolbar-horizontal header .menu-navegacao.affix{
  -moz-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -o-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}

body.toolbar-fixed.toolbar-vertical header .menu-navegacao.affix{
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

header div.bar_title {
  color: #FFF;
  margin-top: 10px;
  padding: 10px 0 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6da7da+0,2975b7+75 */
  background: #6da7da; /* Old browsers */
  background: -moz-linear-gradient(top,  hsl(208,60%,64%) 0%, hsl(208,64%,44%) 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  hsl(208,60%,64%) 0%,hsl(208,64%,44%) 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  hsl(208,60%,64%) 0%,hsl(208,64%,44%) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6da7da', endColorstr='#2975b7',GradientType=0 ); /* IE6-9 */

}

header div.bar_title .site-name {

  font-size: 1.385em;
  font-weight: bold;
  height: 43px;
  padding-top: 8px;
  padding-bottom: 8px;
}

header div.bar_title .site-slogan {
  font-size: 1.077em;
  padding: 11px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2975b7+0,6da7da+61&1+1,0+47 */
  background: -moz-linear-gradient(left,  hsla(208,64%,44%,1) 0%, hsla(208,63%,44%,1) 1%, hsla(208,56%,60%,0) 47%, hsla(208,60%,64%,0) 61%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  hsla(208,64%,44%,1) 0%,hsla(208,63%,44%,1) 1%,hsla(208,56%,60%,0) 47%,hsla(208,60%,64%,0) 61%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  hsla(208,64%,44%,1) 0%,hsla(208,63%,44%,1) 1%,hsla(208,56%,60%,0) 47%,hsla(208,60%,64%,0) 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2975b7', endColorstr='#006da7da',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
}

ul#socialnetwork {
  list-style: none;
  padding: 0;
}

ul#socialnetwork li {
  display: inline;
}

ul#socialnetwork li a {
  display: inline-block;
  text-decoration: none;
}

ul#socialnetwork li img {
  width: 100%;
}


#content-inner {
  margin-top: 15px;
}


.footer {
  background: url(../image/bg-footer.jpg) repeat-x center top;
  margin-top: 30px;
  padding-top: 30px;
}

.endereco {
  border-left: 1px solid #ccc;
  position: relative;
  left: -6px;
  color: #666;
  font-weight: bold;
}

.endereco p {
  margin: 0;
}

.endereco label {
  margin: 0;
}

.footer address b {
  display: block;
}

.footer .logo {
  width: 138px;
  /*width:67.31%;*/
  display: inline;
}

.footer-aside {
  text-align: center;
  height: 85px;
}


.page-header, .block-title {
  color: hsla(199,96%,40%,1);
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.breadcrumb {
  margin: 10px 0 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "segoeui", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.769em;/*36px*/
  color: hsla(208,63%,24%,1.0);
}

h2 {
  font-size: 2.308em;/*30px*/
  color: hsla(208,63%,34%,1.0);
}

h3 {
  font-size: 1.385em;/*18px*/
  color: hsla(208,63%,44%,1.0);
}

h4 {
  font-size: 1.231em;/*16px*/
  color: hsla(208,63%,54%,1.0);
}

h5 {
  font-size: 1.077em;/*14px*/
  color: hsla(208,63%,64%,1.0);
}

.field--name-node-post-date {
  font-size: 1em;
}

.region-search .input-group-btn button {
  background: #fff;
  color: hsl(208,63%,44%);
  border: 1px solid #ccc;
  border-left: 0;
  padding: 6px 10px 6px 5px;

}




.effect-transition{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* EX IFRAME TOPO */

#inst-bar {
  text-align: center;
  line-height: 30px;
}

#inst-bar nav {
  margin-left: 16%;
  margin-right: 16%;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0084cf), color-stop(1, #00579e));
  background: -moz-linear-gradient( center top, #0084cf 5%, #00579e 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#inst-bar .menu li {
  font-size: 1.2em;
  border-left: 1px solid #A8BBC6;
  display: inline;
}

#inst-bar .menu li:first-child {
  border: 0;
}

#inst-bar .menu a {
  color: #D8EBF6;
  line-height: 12px;
  padding: 5px 15px;
  display: inline;
  font-size: 10px;
}

#inst-bar .menu a:hover {
  background: transparent;
  border-bottom: 3px solid #f00;
}

#inst-bar #block-textresize {
  float: right;
  margin: 11px 0 0 0;
}

#inst-bar #block-textresize a:hover {
  opacity: 0.8;
}

a#text_resize_increase {
  background: url("../image/acessibilidade-icone.png");
  width: 16px;
  height: 15px;
  margin: 0;
  margin-right: 5px;
}

a#text_resize_decrease {
  background: url("../image/acessibilidade-icone.png");
  width: 16px;
  height: 15px;
  margin: 0;
}

/**GERAL - PADRÃO**/
.field--name-node-link{
  margin-top: 10px;
  font-weight: bold;
  color: #0062df;
}

/**Blocos -  Padrão**/

section.block-views .view > div.more-link {
  text-align: right;

}

section.block-views .view > div.more-link a{
  font-size: 1.077em;
  font-weight: bold;
  color:#478ac8;
}


/**Páginas de Listagem - Padrão**/

.page-list .form--inline.form-inline.clearfix {
    background: #eee;
    margin-bottom: 25px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.page-list .views-row {
  margin-bottom: 15px;
  border-bottom: 1px solid #cddff2;
  padding-bottom: 10px;
}

.page-list .views-row .field--name-node-title h2{
  font-size: 2.0em;
  color: #478ac8;
  margin-top: 0;
}

.page-list .views-row .field--name-node-title h2 a{

  color: #478ac8;
}

.page-list .views-row .field--type-datetime,
.page-list .views-row .field--type-daterange{
  margin-right: 5px;
  display: inline;
}
.page-list .views-row .field--type-datetime time,
.page-list .views-row .field--type-daterange time,
.page-list .views-row .field--name-node-post-date{
  font-weight: bold;
  display: inline;
  padding: 3px 3px 3px 0;
}

.page-list .views-row .field--name-field-tags,
.page-list .views-row .field--name-field-tags .field--item{
  display:inline;
}

.page-list .views-row .field--name-field-tags .field--item{
  text-align: center;
  text-transform: lowercase;
  color: white;
  background-color: #8a8a8a;
  padding: 3px 6px;
}

.page-list .views-row .titulo {
  color: #00478d;
  font-weight: bold;
}

.page-list .views-row .resumo {
  height: 106px;
}

.page-list .views-row .leia-mais {
  color: #23527c;
  /*text-decoration: underline;*/
  font-weight: bold;
  position: relative;
  top: 12px;
  font-size: 0.875em;
}


/*Page List - Servicos*/
.page-list .views-row .node--type-servicos.node--view-mode-teaser  .field--name-field-image,
.page-list .views-row .node--type-servicos.node--view-mode-teaser  .field--name-field-icones{
    min-height: 150px;
    padding: 50px 0 10px;
    text-align: center;
}

.page-list .views-row .node--type-servicos.node--view-mode-teaser  .field--name-field-icones i{
  color:white;
}

.page-list .views-row:nth-child(odd) .node--type-servicos.node--view-mode-teaser  .field--name-field-image,
.page-list .views-row:nth-child(odd) .node--type-servicos.node--view-mode-teaser  .field--name-field-icones{

    background-color: hsla(208,63%,44%,1.0);
}

.page-list .views-row:nth-child(even) .node--type-servicos.node--view-mode-teaser  .field--name-field-image,
.page-list .views-row:nth-child(even) .node--type-servicos.node--view-mode-teaser  .field--name-field-icones{
  background-color: hsla(208,59%,64%,1);
}


/* EVENTOS */


/*.evento {
    margin-bottom: 10px;
}*/

.evento {
  border-bottom: 1px solid #cddff2;
  padding: 23px 0 10px 0;
}

.evento .views-field.views-field-body {
  margin-bottom: 10px;
}

.evento-data {
  background-color: #0378c5;
  border-radius: 12px;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 0;
  max-width: 77px;
}

.evento-dia {
  font-weight: bold;
  font-size: 1.625em;
}

.evento-titulo {
  padding: 10px 0;
}

.evento-imagem {
  padding: 8px 0;
}


/* MENU */

.navbar-default {
  background: none;
  border: 0;
}

.block-superfishmain .menu {
  background-color:white;
  margin-bottom: 16px;

}


.block-superfishmain .menu li a {
  border-bottom:4px solid white;
  /*background: white url("../image/menu-seta.png") no-repeat scroll 10px 14px;*/
  /*padding: 10px;*/
  color: #333;
  font-size: 1.077em;
}

.block-superfishmain .menu li.menuparent ul{
  background-color: white;
}

.block-superfishmain .menu li.menuparent.sf-depth-1 > ul{
  margin-top: 10px;
}

.block-superfishmain .menu li a{
   -webkit-transition: all 300ms ease-in;
   -moz-transition: all 300ms ease-in;
   -ms-transition: all 300ms ease-in;
   -o-transition: all 300ms ease-in;
   transition: all 300ms ease-in;
}
.block-superfishmain .menu li a:hover {
  color: #e91313 !important;
  text-decoration:none;
  border-bottom:4px solid #e91313;
}

.block-superfishmain ul.sf-menu .sf-sub-indicator {
  display: none;
}

@media  (max-width: 767px) {
  .block-superfishmain ul.sf-menu li {
      float: left;
      position: relative;
      z-index: 498;
      width: 100%;
      border-top: 1px solid #f0f0f0;
  }
  .block-superfishmain i.fa.fa-home {
    display: none;
  }
  .block-superfishmain .menu li a {
    border-bottom: 1px solid rgba(138, 118, 65, 0.11);
  }
}



/* MENU */

#block-menudenavegacao-2 .caret {
  display: none;
}

#block-menudenavegacao-2 .menu {
  background-color: #00366C;
  margin-bottom: 16px;
  /*width:  212px !important;*/
  width: 100% !important;
}

#block-menudenavegacao-2 .menu li {
  width: 100%;
  background: #00478d url("../image/menu-seta.png") no-repeat scroll 10px 14px;
}

#block-menudenavegacao-2>.menu li>.menu li {
  width: 100%;
  background: #3681CA url("../image/menu-seta-2.png") no-repeat scroll 10px 14px;
}

#block-menudenavegacao-2 .menu li a {
  background: none;
}

#block-menudenavegacao-2 .menu li a {
  border-bottom: 1px solid #2e69a3 !important;
  color: #cddff2 !important;
  padding: 10px 10px 10px 24px !important;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

#block-menudenavegacao-2 .menu li.dropdown a.dropdown-toggle,
#block-menudenavegacao-2 .menu li.dropdown.active.open a.dropdown-toggle {
  background: transparent url('../image/menu-icons.png') 187px 10px no-repeat
}

#block-menudenavegacao-2 .menu li.dropdown.open a.dropdown-toggle,
#block-menudenavegacao-2 .menu li.dropdown.active a.dropdown-toggle {
  background: transparent url('../image/menu-icons.png') -100px 10px no-repeat
}

#block-menudenavegacao-2 .menu li.dropdown.active>.dropdown-menu {
  display: block;
}

#block-menudenavegacao-2 .menu li.dropdown.active.open>.dropdown-menu {
  display: none;
}

#block-menudenavegacao-2>.menu li>.menu li a {
  text-transform: none;
}

#block-menudenavegacao-2 .menu li:hover {
  background: #00366C;
}

#block-menudenavegacao-2 .menu ul {
  position: relative !important;
}

#block-menudenavegacao-2 .menu ul li a:hover {
  background: #00366C !important;
}

#block-menudenavegacao-2 .menu ul li:first-child a {
  border-top: none !important;
}

#block-menudenavegacao-2 .menu.dropdown-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* Carousel */

.carousel-caption {
  background: rgba(0, 71, 141, 0.7);
  width: 100%;
  margin-left: -20%;
  padding: 10px 0;
  bottom: 0;
  text-align: left;
  border-bottom: 3px solid #EA1215;
  max-height: 130px;
}

.carousel-caption h3 {
  /*background: rgba(45,101,157,0.7);*/
  /*background: rgba(0,71,141,0.7);*/
  margin: 0;
  padding: 5px 15px;
  font-weight: bold;
}

.carousel-caption h3 a {
  color: #fff;
}

.carousel-caption p {
  /*background: rgba(16,103,173, 0.7);*/
  color: #CDDFF2;
  padding: 0 15px;
  font-size: 1em;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: inline;
}

.feed-icons {
  clear: both;
  padding: 10px 0 0 0;
}

.feed-icon {
  background: url(../image/rss.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FF8000 !important;
  display: block;
  padding-left: 24px;
  clear: both;
  height: 16px;
  line-height: 16px;
  font-size: 0.9em;
}



/* LESS */

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #00366C;
}

.navbar-nav>li>a {
  line-height: normal;
}


/*UNIDADES*/

/*.unidades {
  margin-bottom: 15px;
}

.unidade-imagem {
  padding-left: 0px;
  min-height: 115px;
}

.opt-print a {
  background: rgba(0, 0, 0, 0) url("../image/ico_print.png") no-repeat scroll 0 0;
  color: #333;
  display: block;
  font-size: 11px;
  padding-left: 20px;
  width: 52px;
}

.opt-pdf a {
  background: rgba(0, 0, 0, 0) url("../image/ico_pdf.png") no-repeat scroll 0 0;
  color: #333;
  display: block;
  font-size: 11px;
  padding-left: 20px;
  width: 52px;
}

.opt-home a {
  background: rgba(0, 0, 0, 0) url("../image/ico_home.png") no-repeat scroll 0 0;
  color: #333;
  display: block;
  font-size: 11px;
  padding-left: 20px;
  width: 52px;
}

.opt-back a {
  background: rgba(0, 0, 0, 0) url("../image/ico_back.png") no-repeat scroll 0 0;
  color: #333;
  display: block;
  font-size: 11px;
  padding-left: 20px;
  width: 52px;
}

.list-options li {
  background: transparent url("../image/line01.gif") no-repeat scroll 0 0;
  padding: 0 10px;
}

.opt-print {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

.opt-back {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}*/





/* Eventos */



#views-exposed-form-evento-page-1 input#edit-field-tags-target-id {
  width: 440px;
  height: 26px;
  padding: 6px;
}


/* Calendario de Eventos */

.view-calendario-eventos .view-header {
  font-size: 150% !important;
  text-align: center;
  font-weight: bold;
  float: left;
  display: inline;
  width: 100%;
}

.view-calendario-eventos.view-display-id-block_1 .view-header {
  margin-top: 6px;
  margin-bottom: 6px;
}

.view-calendario-eventos.view-display-id-page_month .view-header,
.view-calendario-eventos.view-display-id-page_day .view-header,
.view-calendario-eventos.view-display-id-page_week .view-header,
.view-calendario-eventos.view-display-id-page_year .view-header {
  margin-bottom: 10px;
  margin-top: 38px;
  height: 50px;
}

.view-calendario-eventos .view-content {
  border-bottom: 1px #ccc solid;
}

.calendar-calendar.view-display-id-page_month td.has-events,
.calendar-calendar.view-display-id-page_day td.has-events,
.calendar-calendar.view-display-id-page_week td.has-events {
  background-color: #5ABDED !important;
}

.calendar-calendar.view-display-id-page_year td.has-events div.year.day {
  background-color: #5ABDED !important;
}

.calendar-calendar td.has-events a {
  color: #fff !important;
  text-decoration: none;
}

.view-display-id-page_year table td.has-events,
.view-display-id-page_year table td.today {
  background: none!important;
}

.view-display-id-page_year table td.today div.day {
  background: #2a4863;
  color: white
}

.view-display-id-page_year table td.has-events div.day {
  background: #337ab7;
}

.view-display-id-page_year table tr td .month-view {
  padding: 5px;
}

.view-display-id-page_year table.mini tr td.days {
  text-align: left;
}

.view-display-id-page_year table tr td .month-view div.day {
  float: left;
}

.view-display-id-page_year table tr:nth-child(1) td:nth-child(1) .month-view:before {
  content: "Janeiro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(1) td:nth-child(2) .month-view:before {
  content: "Fevereiro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(1) td:nth-child(3) .month-view:before {
  content: "Março";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(2) td:nth-child(1) .month-view:before {
  content: "Abril";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(2) td:nth-child(2) .month-view:before {
  content: "Maio";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(2) td:nth-child(3) .month-view:before {
  content: "Junho";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(3) td:nth-child(1) .month-view:before {
  content: "Julho";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(3) td:nth-child(2) .month-view:before {
  content: "Agosto";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(3) td:nth-child(3) .month-view:before {
  content: "Setembro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(4) td:nth-child(1) .month-view:before {
  content: "Outubro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(4) td:nth-child(2) .month-view:before {
  content: "Novembro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-page_year table tr:nth-child(4) td:nth-child(3) .month-view:before {
  content: "Dezembro";
  float: left;
  font-size: 1.2em;
  font-weight: bold;
}

.noticias .content .field--name-field-tags {
  color: #00478d;
  font-weight: bold;
  margin: 0;
}

#block-views-block-calendario-eventos-block-1 {
  border: 1px solid #ddd;
}



.evento img {
  margin: 0 5px 0 0;
  float: left;
}

.evento .titulo {
  color: #00478d;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.evento .data,
.evento time {
  color: #ec1213;
  margin: 0;
}

.evento time {
  color: #ec1213;
  margin: 0;
  font-weight: bold;
}

.evento .leia-mais {
  color: #23527c;
  /*text-decoration: underline;*/
  font-weight: bold;
  position: relative;
  top: -2px;
  font-size: 12px;
}

.evento .field--name-field-data-evento,
.evento .field--name-field-data-termino {
  color: #00478d;
  font-size: 18px;
  margin: 0;
}

.evento .field--name-field-data-termino {
  position: relative;
  top: -25px;
  left: 401px;
}

.evento .field--name-field-local-evento {
  font-size: 18px;
  margin: 0 0 10px 0;
  position: relative;
  top: -25px;
}

.evento .field--name-field-local-evento .field--label {
  font-size: 18px;
}

.evento .field--name-field-data-evento .field--label,
.evento .field--name-field-data-termino .field--label {
  font-size: 18px;
}


/* Calendário - Dia */

.calendar-calendar .day-view .full td .inner div.calendar div,
.calendar-calendar .day-view .full td .inner div.calendar .contents a {
  position: relative;
  float: left;
  display: inline;
  margin-right: 10px;
}

.calendar-calendar .day-view .full td .inner div.calendar div,
.calendar-calendar .day-view .full td .inner div.calendar .contents time {
  position: relative;
  width: 100px;
  float: left;
  display: inline;
}

.calendar-calendar .day-view .full td .inner div.calendar div,
.calendar-calendar .day-view .full td .inner div.calendar .contents {
  position: relative;
  width: 100%;
  float: left;
  display: inline;
}

.view-calendario-eventos.view-display-id-page_day .view-content .calendar-calendar .day-view .single-day .item .view-item {
  position: relative;
  width: 100%;
  float: left;
  display: inline;
}

.view-calendario-eventos .js-pager__items {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.view-calendario-eventos .pager__item.pager__item--previous {
  position: relative;
  float: left;
  margin-left: 54px;
}

.view-calendario-eventos .pager__item.pager__item--next {
  position: relative;
  float: right;
  margin-right: 54px;
}

.view-calendario-eventos .pager {
  position: relative;
  top: -54px;
}

.view-calendario-eventos .month-view .item {
  width: 87px;
  position: relative;
  float: left;
  display: inline;
}

.calendar-calendar .day-view td .inner div {
  background: #eee;
  height: 17px !important;
}

.calendar-calendar th {
  background-color: #5abded !important;
}


/* Banner home */

.view-banners.view-id-banners.view-display-id-block_4 .views-row {
  margin-bottom: 16px;
  margin-top: 16px;
}

.sidebar .carousel-indicators .active {
  background: #666;
}


/* Calendário de Eventos - Botões ANO - MÊS - SEMANA - DIA */

#block-menucalendar .nav li a {
  position: relative;
  display: block;
  padding: 4px 15px;
}

#block-barraintegradora a {
  font-size: 10px;
}


/* Calendário de Eventos - Botões de navegação */

#block-menucalendar ul.menu li {
  background: #0175c2;
  margin: 0 1px;
  width: 120px;
  height: 26px;
}

.view-calendario-eventos .pager li>a,
.pager li>span {
  border-radius: 4px;
  padding: 4px 14px;
}


/* Seletor de idioma */

#block-seletordeidiomasproduzido {
  position: relative;
  top: -27px;
  left: 799px;
  width: 150px;
}

#block-seletordeidiomasproduzido .links {
  font-size: 11px;
  float: left;
  color: #0079C3;
  height: 12px;
  line-height: 12px;
  margin-bottom: 0px !important;
}

#block-seletordeidiomasproduzido li {
  width: 55px;
  float: left;
  display: inline;
  list-style-type: none;
  line-height: 12px;
}

#block-menucalendar {
  text-align: center;
}

#block-menucalendar ul.menu {
  display: inline-flex;
}

#block-menucalendar ul.menu * {
  border-radius: 4px 4px;
}

#block-menucalendar ul.menu li a {
  color: white;
}

#block-menucalendar ul.menu li:hover,
#block-menucalendar ul.menu li:hover a {
  background: #5abded;
}

form.user-login-form input.form-text,
form.user-pass input.form-text {
  width: 20%;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-indicators {
  position: initial;
  bottom: initial;
  left: inherit;
  z-index: 15;
  width: initial;
  padding-left: 0;
  margin-left: initial;
  text-align: center;
  list-style: none;
  display: inline-flex;
  background-color: #e0ebf8;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-indicators li {
  display: inline-flex;
  width: initial;
  height: initial;
  min-height: 74px;
  /* cursor: pointer; */
  background-color: #e0ebf8;
  padding: 4px;
  font-size: 11px;
  border-radius: 0;
  text-indent: initial;
  border: 0;
  border-right: 1px solid white;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-indicators li:last-child {
  border-right: 0;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-control.right,
section#block-secom-views-block-carrossel-noticias-block-1 .carousel-control.left {
  background: none;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-indicators .active {
  width: initial;
  height: initial;
  margin: 0;
  background-color: #cddff2;
}

section#block-secom-views-block-carrossel-noticias-block-1 .carousel-caption h3 {
  color: white;
  font-size: 1.1em;
}


/****DETRAN*****/


/**HOME**/

body header .navbar{
  margin-bottom: 0;
  min-height: 40px;
}

body #main-content,
body .region.region-sidebar-first,
body .region.region-sidebar-second{
  margin-top: 20px;
}

body header .banner_topo .container h1,
body header .banner_topo .container h2,
body header .banner_topo .container h3{
  color:white;
}

body header .banner_topo .mask{
   background-color:hsla(208,63%,44%,1.0);
}

body.path-frontpage header .banner_topo .mask{
  background-color:rgba(0,0,0,0.5);
  min-height: 200px;
}

body.path-frontpage header .banner_topo .container{
  overflow: hidden;
}
body.path-frontpage header .banner_topo .container .content{
  margin-top:10%;
}


body.path-frontpage header .banner_topo .container h1{
  text-transform: uppercase;
}

body.path-frontpage header .banner_topo .container h1,
body.path-frontpage header .banner_topo .container h3{
 text-shadow:2px 2px 2px #333;
}

body.path-frontpage header .banner_topo{
    background: url(/themes/custom/secom/image/topo.jpg) no-repeat center;
    min-height: 200px;
    background-attachment: fixed;
    background-size: contain;
    background-position: center 30px;
}

body footer ul.socialnetwork > li > a{
    background-color: hsla(209, 53%, 53%, 1);
    width: 55px;
    height: 55px;
    border-radius: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
}

body footer ul.socialnetwork > li > a:hover{
  background-color: hsla(209, 53%, 33%, 1);
}

body footer ul.socialnetwork > li > a.facebook{
  background-image: url(/themes/custom/secom/image/rede-facebook.png);
}

body footer ul.socialnetwork > li > a.youtube{
  background-image: url(/themes/custom/secom/image/rede-youtube.png);
}

body footer ul.socialnetwork > li > a.twitter{
  background-image: url(/themes/custom/secom/image/rede-twitter.png);
}

body footer ul.socialnetwork > li > a.instagram{
  background-image: url(/themes/custom/secom/image/rede-instagram.png);
}

body #content-inner section.block {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*body.path-frontpage*/ section.block .block-title{
  display: inline-flex;
  color: #478ac8;
  font-size: 1.8em;
}

/*body.path-frontpage*/ section.block .block-title::before{
   display: inline-block;
   width: 35px;
   height: 35px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 35px;
   margin-right: 10px;
}

body.path-frontpage section.block.block-views-blockservicos-block-1 .block-title::before{
  background: #478ac8 url('/themes/custom/secom/image/servico-motorista.png') no-repeat center;
}

body.path-frontpage section.block.block-views-blockservicos-block-2 .block-title::before{
  background: #478ac8 url('/themes/custom/secom/image/servico-veiculo.png') no-repeat center;
}

body.path-frontpage section.block.block-views-blocklistagem-de-noticias-block-1 .block-title::before{
  background: #478ac8 url('/themes/custom/secom/image/noticias.png') no-repeat center;
}

/**HOME-Servicos Motorista/Veiculos**/
body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home h2{
  font-weight: 300;
  font-size: 2.208em;
}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home h2 ,
body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home h3{
color:white;

}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home .bs-region--main > a{
  min-height: 185px;
  padding: 15px;
  margin: 0 0 15px;
  display: block;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home .bs-region--main > a  .field--name-field-image{
  max-width: 45px;
}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home .bs-region--main > a .field--name-field-image img{
  height: 40px;
}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home .bs-region--main > a i{
 color:white;
 font-size: 40px;
}

body.path-frontpage section.block .views-view-grid .views-col div.node--type-servicos.node--view-mode-chamada-home .bs-region--main > a:hover{
  text-decoration: none;
}

/**HOME-Servicos Motorista**/

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-1 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(209, 53%, 53%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-1 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(209, 53%, 33%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-2 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(359, 64%, 57%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-2 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(359, 64%, 37%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-3 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(88, 39%, 52%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-3 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(88, 39%, 32%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-4 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(258, 56%, 57%, 1);
}

body.path-frontpage section.block .bloco-servico-motorista .views-view-grid .views-col.col-4 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(258, 56%, 37%, 1);
}


/**HOME-Servicos Veiculo**/

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-1 div.node--type-servicos .bs-region--main > a {
  background-color: hsla(24, 71%, 57%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-1 div.node--type-servicos .bs-region--main > a:hover {
  background-color: hsla(24, 71%, 37%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-2 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(258, 41%, 65%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-2 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(258, 41%, 45%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-3 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(52, 71%, 45%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-3 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(52, 71%, 25%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-4 div.node--type-servicos .bs-region--main > a{
  background-color: hsla(337, 49%, 51%, 1);
}

body.path-frontpage section.block .bloco-servico-veiculo .views-view-grid .views-col.col-4 div.node--type-servicos .bs-region--main > a:hover{
  background-color: hsla(337, 49%, 31%, 1);
}

/*HOME-NOTÍCIAS**/
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .contextual-region,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home .bs-region,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home .bs-region > div,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .bs-region,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .bs-region > div{
  padding: 0;

}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .bs-region--right
{
  padding-left:15px;
}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row{
  margin-bottom: 15px;
  min-height: 215px;
}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row:first-child .node--view-mode-chamada-home{
  min-height: 465px;

}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2{
  border-bottom: 3px solid #478ac8;
  padding-bottom:5px;
}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row:last-child{
  margin-top: 15px;
}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home .field--field-image{
  margin-bottom: 20px;
}

body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home .field--field-data-noticias *,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .field--field-data-noticias *{
  font-weight:bold;
  color:#8a8a8a;
}


body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home .field--field-tags,
body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .field--field-tags{
  text-align:center;
  text-transform: lowercase;
  color:white;
  background-color:#8a8a8a;
}

body.path-frontpage section.block .bloco-banner-rodape .view-content .views-row  .node--view-mode-chamada-home-2{
 text-align: center;
 min-height: 150px;
}


/*HOME-BANNER RODAPÉ**/

/*FULL-NODE SERVICOS**/

body .node.node--view-mode-full .node-block-side .field,
body .node.node--view-mode-full .node-block-side .field a{
  color:white;
  font-size:1.3em;
}

body .node.node--view-mode-full .node-block-side .field{
  background: hsla(208,63%,44%,1.0);
  padding: 0;
}

body .node.node--view-mode-full .node-block-side .field .field--label{
  background: hsla(208,59%,64%,1);
  padding:10px;
}

body .node.node--view-mode-full .node-block-side .field.field--item,
body .node.node--view-mode-full .node-block-side .field .field--item,
body .node.node--view-mode-full .node-block-side .field.field--name-field-image{
  padding:10px;
}




body .node.node--view-mode-full .node-block-side .field--name-field-tags .field--item{
  padding:5px 10px;
}


body .node.node--view-mode-full .node-block-side .field.field--name-field-link{
  padding:0;
  font-weight: bold;
  background: hsla(86,23%,35%,1);
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

body .node.node--view-mode-full .node-block-side .field.field--name-field-link:hover{
  background: hsla(86,23%,25%,1);
}

body .node.node--view-mode-full .node-block-side .field.field--name-field-link a{
  padding: 20px 0px 20px 50px;
  background: url(/themes/custom/secom/image/external-link.png) no-repeat 5px center;
  display:block;

}
body .node.node--view-mode-full .node-block-side .field.field--name-field-link a:hover{
  text-decoration: none;
}

body .node--view-mode-full .node-block-content .field--name-field-title-paragraphs,
body .node--view-mode-full .node-block-content .field--type-text-long .field--label,
body .node--view-mode-full .node-block-content .field--type-text-with-summary .field--label{
  font-size:1.8em;
  border-left:5px solid;
  padding:5px 15px;
  color: hsl(208,63%,50%);
  font-weight: 700;
}

body .node.node--view-mode-full .node-block-content .field.field--name-field-imagem-paragraphs .blazy__caption,
body .node.node--view-mode-full .node-block-content .field--type-text-with-summary figure figcaption,
body .node.node--view-mode-full .node-block-content .field--name-field-text-paragraphs figure figcaption {
   background: hsl(208,63%,57%);
   padding: 5px;
   font-weight: bold;
   color: white;
}

body .node.node--view-mode-full .node-block-content .slick--optionset--default-thumbnail-secom.slick--thumbnail.slick--skin--asnavfor .slick-list{
 padding: 0;
 padding-left: 9px;
}


body .node--view-mode-full .node-block-content .field--name-field-title-paragraphs + .field--name-field-text-paragraphs,
body .node--view-mode-full .node-block-content .field--type-text-long .field--item,
body .node--view-mode-full .node-block-content .field--type-text-with-summary .field--item{
  padding:10px 0;
}

body .node--view-mode-full .node-block-content .field--name-field-text-paragraphs figure.align-right,
body .node--view-mode-full .node-block-content .field--type-text-long figure.align-right,
body .node--view-mode-full .node-block-content .field--type-text-with-summary figure.align-right{
    padding-left: 30px;
}

body .node--view-mode-full .node-block-content .field--name-field-text-paragraphs figure.align-left,
body .node--view-mode-full .node-block-content .field--type-text-long figure.align-left,
body .node--view-mode-full .node-block-content .field--type-text-with-summary  figure.align-left{
    padding-right: 30px;
}

body .node--view-mode-full .node-block-content .field--type-text,
body .node--view-mode-full .node-block-content .field--type-text-with-summary,
body .node--view-mode-full .node-block-content .paragraph{
  margin-bottom: 10px;
  word-break: break-word;
}

body .node--view-mode-full .node-block-content .field--type-text ul,
body .node--view-mode-full .node-block-content .field--type-text-with-summary ul,
body .node--view-mode-full .node-block-content .paragraph ul,
body .node--view-mode-full .node-block-content .field--type-text ol,
body .node--view-mode-full .node-block-content .field--type-text-with-summary ol,
body .node--view-mode-full .node-block-content .paragraph ol{

  font-size: medium;
}

body .node--view-mode-full .node-block-content .field .file-link a{
  color:hsl(208,63%,57%);
  font-size:150%;
}

body .node--view-mode-full .node-block-content .field .file--audio span.file-icon .text-primary,
body .node--view-mode-full .node-block-content .field .file--audio div.file-player .description-audio a,
body .node--view-mode-full .node-block-content .field .file--audio span.file-size,
body .node--view-mode-full .node-block-content .field .file--audio span.file-icon{
  color:white;
}

body .node--view-mode-full .node-block-content .field.field--name-field-audios-paragraphs .field--item{
  margin-bottom:20px;
}


body .node--view-mode-full .node-block-content .field .file--audio span.file-icon {
  background: hsl(208,63%,57%);
  border: 0;
}


body .node--view-mode-full .node-block-content .field .file--audio div.file-player{
  background: hsl(208,63%,63%);

}
body .node--view-mode-full .node-block-content .field .file--audio div.file-player div.player-audio,
body .node--view-mode-full .node-block-content .field .file--audio div.file-player div.description-audio{
  padding: 0 .5em;
}


body .node--view-mode-full .node-block-content .field .file--audio div.file-player div.description-audio{

  font-size: 130%;
  text-align: left;

}

body .node--view-mode-full .node-block-content .field .file--audio span.file-size {
  background: hsl(208,63%,70%);
  text-align: center;
  border: 0;
}

body .node--view-mode-full .node-block-content div.panel-group div.panel-default .panel-title{
  background:hsl(208,63%,57%);
  color: white;
}


body.path-portarias .view-portarias .table th:nth-child(1),
body.path-portarias .view-portarias .table td:nth-child(1){
  max-width: 100px;
}

body.path-portarias .view-portarias .table th:nth-child(2),
body.path-portarias .view-portarias .table td:nth-child(2){
  max-width: 250px;
}

body.path-portarias .view-portarias .table th:nth-child(3),
body.path-portarias .view-portarias .table td:nth-child(3){
  max-width: 60px;
  text-align: center;
}

body.path-portarias .view-portarias .table th:nth-child(4),
body.path-portarias .view-portarias .table td:nth-child(4){
  max-width: 100px;
  text-align: center;
}

body.path-glossario .view-glossary .view-display-id-attachment_1 span a,
body.path-glossario .view-glossary .view-display-id-attachment_1 span {
  font-size: 150%;
  color: hsl(208,63%,65%);
}

body.path-glossario .view-glossary .view-display-id-attachment_1 span a.is-active{
  color: hsl(208,63%,35%);
}

/*Resoluções xs e sm*/
@media  (max-width: 991px) {

  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home-2 .bs-region--right
  {
    padding-left:0;
  }

  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home div.field--name-field-image ~ div.field--field-data-noticias,
  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home div.field--name-field-image ~ div.col-sm-6
  {
    padding-left:15px;
  }

  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row{
    margin-bottom: 15px;
    min-height: 100%;
  }

  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row:first-child .contextual-region{
    min-height: 100%;

  }

}

@media  (max-width: 691px) {
  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home div.field--name-field-image{
    width:100%;
  }

  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home div.field--name-field-image ~ div.field--field-data-noticias,
  body.path-frontpage section.block .bloco-noticias-home .view-content .views-row .node--view-mode-chamada-home div.field--name-field-image ~ div.col-sm-6
  {
    padding-left:0;
  }
}

#block-barraintegradora ul {
  padding-top: 15px;
  padding-bottom: 8px;
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
}

#block-barraintegradora li {
  flex-basis: auto;
  padding: 0 1em;
}

#block-barraintegradora li:last-child {
  padding-right: 0;
}

#block-barraintegradora li:not(:last-child) {
  border-right: 1px solid #ccc;
  background-color: #fff;
}

#block-barraintegradora li a {
  padding: 0;
}


@media  (max-width: 691px) {
  #block-barraintegradora ul {
    /*background-color: red;*/
  }
}


#block-mainnavigation ul li i {
  display: none;
}

#block-mainnavigation ul li .sf-depth-2 {
  width: 100%;
}


#block-mainnavigation ul li:hover a.sf-depth-1 {
  color: white !important;
  transition: all 0.4s cubic-bezier(.48,.5,.15,0.8) 0s !important;
  background-color:rgba(0,129,255,1);
  border-bottom: 0;
}

#block-mainnavigation ul li a {
  border-bottom: 0;
}

#block-mainnavigation ul li.sf-depth-2 {
  border: 0 !important;
}

#block-mainnavigation .sf-has-clone-parent {
  margin-top: 0;
}

#block-mainnavigation .sf-clone-parent {
  display: none;
}

#block-mainnavigation ul li.sf-depth-2:hover a.sf-depth-2 {
  color: white !important;
  transition: all 0.4s cubic-bezier(.48,.5,.15,0.8) 0s !important;
  background-color:rgba(0,129,255,1);
  border: 0;
}

@media  (min-width: 768px) {
  #block-mainnavigation ul li a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: 45px;
  }

  #block-mainnavigation ul li {
    border-right: 1px solid #ddd;
  }

  #block-mainnavigation ul li:first-child {
    border-left: 1px solid #ddd;
  }

  #bs-example-navbar-collapse-1 {
    padding-left: 0;
    padding-right: 0;
  }
}



/* Configuração para centralizar menu principal */
@media  (min-width: 768px) {
  #block-mainnavigation ul {
    width: 100%;
    display: flex !important;
  }

  #block-mainnavigation ul li {
    text-align: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media  (max-width: 991px) {
  #block-formulariodebusca-2 {
    padding-top: 7px;
  }
}

footer .container .col-md-6:last-child {
  padding: 0;
}

.block-block-contenta9de37f9-89c8-4bb3-b410-e125dd7005ee {
  padding: 0;
  width: 100%;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media  (max-width: 991px) {
  .block-block-contenta9de37f9-89c8-4bb3-b410-e125dd7005ee {
    align-items: flex-start;
    height: auto;
  }
}


.list-news {
  padding-left: 0;
}

.list-news li {
  list-style: none;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-news li:last-child {
  border-bottom: 0;
}

/* Configuração da aba de filtros de notícias */
.view-noticia.view-id-noticia .view-filters  {
  background-color: #f4f4f4;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media  (max-width: 768px) {
  .footer .container .col-md-12, #footer-address {
    padding-left: 0;
    padding-right: 0;
  }
}

#footer-address {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media  (max-width: 991px) {
  .destaque2-noticia-item:not(:first-child) {
    margin-top: 20px;
  }
}


.sitemap .sitemap-box  h2 {
  font-size: 14pt;
  font-weight: 600;
}

.sitemap .sitemap-box ul {
  padding-left: 0.5em;
}

.sitemap .sitemap-menu li {
  list-style-type: none;
}


.no-list-style {
  list-style-type: none;
  padding-left: 0;
}



@media (max-width: 768px){
  .search-bar-xs {
    margin-bottom: -8px;
    padding-top: 3px;
    width: calc(100% - 50px);
    display: inline-block !important;
  }
}


@media (min-width: 768px){
  .search-bar-xs {
    display: none !important;
  }
}


@media (max-width: 768px){
  .navbar-toggle {
    float: left;
    margin-right: 10px;
  }

  #superfish-main-toggle {
    display: none;
  }

  #bs-example-navbar-collapse-1 {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 0;
    padding-right: 0;
  }

  #block-mainnavigation ul li .sf-depth-2 a {
    padding-left: 35px;
  }
}

